<!-- template extends -->
{% extends 'base.html' %}

<!-- title -->
{% block title %} post_archive_year.html {% endblock title %}

<!-- content -->
{% block content %}
<h1>{{ year|date:"Y" }}년에 작성된 글 목록</h1>

<ul>
    {% for date in date_list %}
    <li style="display: inline;">
        <a href="{% url 'blog:post_month_archive' year|date:'Y' date|date:'b' %}">
                {{ date|date:"F" }}
            </a>
    </li>
    {% endfor %}
</ul>
<br>

<div>
    <ul>
        {% for post in object_list %}
        <li>
            {{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
            <strong>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </strong>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}