<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>세부내용</title>
</head>

<body>
    <h2>{{ object.title }}</h2>

    <p class="other_posts">
        {% if object.get_previous_by_modify_date %}
        <a href="{{ object.get_previous_post.get_absolute_url }}" title="이전 글 보기"> &laquo;-- {{ object.get_previous_post }}</a> {% endif %}
    </p>

    <p class="date">{{ object.modify_date|date:"j F Y" }}</p>
    <br>

    <div class="body">
        {% comment %} linebreaks 템플릿 필터는 \n을 인식할 수 있게 한다. {% endcomment %} {{ object.content|linebreaks }}
    </div>
</body>

</html>